@import "../variables";

#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#categories{
    width: 80%;
    display: flex;
    justify-content:space-around;
    margin: 0 0 36px 0;
    div{
        width: fit-content;
        padding: 0 6px;
        cursor: pointer;
    }

    .active{
        color: $red;
        text-decoration: $red solid from-font underline;
    }
}



.card{
    width: $card;
    min-width: $card-min;
    margin: 0 0 20px 0;
}

.card-info{
    line-height: 24px;
    .card-title{
        cursor: pointer;
    }
    span{
        cursor: pointer;
        height: 24px;
    }
}
.item-image{
    min-width: $card-min;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    background-color: $background;
}
