//colors
$purple : #4D0E51;
$green : #14D972;
$red : #FC1969;
$background : #c7c7c7;

//width
$main-section: 84%;
$side-section: calc((100% - $main-section) / 2);
$card: 30%;
$card-min: 240px;

//fonts


